$primary: #00496f;
$accent: desaturate($primary, 80%);
$gray: #ccc;

.symbol {
  font-family: "symbols";
}

.primary {
  color: $primary;
}
.primary--bg {
  background-color: $primary;
}

.accent {
  color: $accent;
}
.accent--bg {
  background-color: $accent;
  color: #fff;
}

.gray {
  color: $gray;
}
.gray--bg {
  background-color: $gray;
}

.light-gray {
  color: lighten($gray, 15%);
}
.light-gray--bg {
  background-color: lighten($gray, 15%);
}
